/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

.primary-color-light{
	-fx-background-color: #ff887c;
}

.primary-color-dark, .dark-button{
	-fx-background-color: #ac2027;
}

.primary-color, .primary-button{
	-fx-background-color: #E45652;
}

.background-window{
	-fx-background-color: #20120F;
}

.login-background{
	-fx-background-color:  #9C2B27;
}

.primary-button {
	-fx-text-fill: #ffffff;
}

.dark-button {
	-fx-text-fill: #ffffff;
}

.detalle-padding{
	-fx-padding: 100px;
}

.detalle-contenido{
	-fx-alignment: center;
}

.texto-blanco {
	-fx-text-fill: #ffffff;
}

.botton-reservar {
	-jfx-toggle-color: #E45652;
	-jfx-toggle-line-color: #ff887c;
}
